<div class="homepage">
    {% capture hero_active %}hero_image_active{% endcapture %}
    {% capture hero_img %}hero_image.jpg{% endcapture %}
    {% capture hero_title_1 %}hero_image_title_1{% endcapture %}
    {% capture hero_title_2 %}hero_image_title_2{% endcapture %}
    {% capture hero_link_url %}hero_image_link_url{% endcapture %}
    {% if settings[hero_active] %}
    <a href="{{ settings[hero_link_url] }}" class="anchor-block">
        <section class="hero-wrapper">

            <div class="hero-image">
                <img class="img-fullwidth" src="{{ hero_img | asset_url }}" alt="">
            </div>
            <div class="hero-copy">
                <div>{{ settings[hero_title_1] }}</div>
                <div>{{ settings[hero_title_2] }}</div>
            </div>
            {% endif %}
        </section>
    </a>
    <section class="homepage-grid clearfix">
        {% for i in (1..3) %}
        {% capture grid_image_active %}grid_image_{{i}}_active{% endcapture %}
        {% capture grid_image_img %}grid_image_{{i}}.jpg{% endcapture %}
        {% capture grid_image_title_1 %}grid_image_{{i}}_title_1{% endcapture %}
        {% capture grid_image_title_2 %}grid_image_{{i}}_title_2{% endcapture %}
        {% capture grid_image_link_url %}grid_image_{{i}}_link_url{% endcapture %}
        {% if settings[grid_image_active] %}
        <a href="{{ settings[grid_image_link_url] }}" class="anchor-block">
            <div class="homepage-grid-item">
                <img class="homepage-grid-item-image img-fullwidth" src="{{ grid_image_img | asset_url }}" alt="">
                <div class="meta">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="homepage-grid-item-copy">
                                <div>{{ settings[grid_image_title_1] }}</div>
                                <div>{{ settings[grid_image_title_2] }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {% endif %}
        {% endfor %}
    </section>

</div>