<div id="search">

  {% paginate search.results by settings.pagination_limit %}


  {% if search.results == empty %}

      <div class="page-title text-center">No search results</div>
  {% else %}


      <div class="page-title text-center">Search Results</div>


<!-- ######### Begin results ######### -->


<div class="collection-container">
    <div class="collections-grid">
        <div class="products" id="ajax-wrapper">
            <div class="row" id="ajax-target">            
              {% for product in search.results %}
              <div class="col-xs-6 col-sm-4 col-md-3 col">
                <div class="product">
                  {% if product.price_min < product.compare_at_price_min %}
                    <span class="sale">Sale</span>
                  {% endif %}
                  <div class="image">
                    <a href="{{ product.url }}">
                      <img src="{{ product.images.[0] | product_img_url: 'large'}}" alt="{{ product.title | escape  }}" class="img-responsive"/>
                    </a>
                  </div>
                  <div class="details">
                    <a href="{{ product.url }}">
                      <div class="title">{{ product.title }}</div>
                      
                      {% comment %}
                      <span class="price">
                      {% if product.available %}
                        {% if product.compare_at_price_max > product.price %}
                          <del>{{ product.compare_at_price | money }}</del>
                        {% endif %}
                        {% if product.price_varies %}
                        <small><em>from</em></small>
                        {% endif %}
                        {{ product.price | money }} 
                      {% else %}
                        {{ product.price | money }} Sold Out
                      {% endif %}
                      </span>
                      {% endcomment %}
                    </a>
                  </div>






                </div>
              </div>



              {% endfor %}

            </div>
        </div>
    </div>
</div>




<!-- ######### End results ######### -->

  {% include 'pagination' %}

  {% endif %}


  {% endpaginate %}

</div> <!-- /#search -->
